*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}
body{
    background: url(/static/images/fondo.jpeg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            width: 100%;
}

main{
    width: 100%;
    padding: 20px;
    margin-top:100px;
  
}

.contenedor__todo{
width: 100%;
max-width: 800px;
margin:auto;
/* Se utiliza la posicion relativa porque mas adelante utilizarem posiciones absolutos,
 y se necesitan posiciones relativas para que los elementos se relacionen*/
position: relative;
}

.backBox{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color:rgba(6, 15, 66, 0.685)
}

.backBox div{
    margin: 100px 40px;
    color: rgb(255, 255, 255);
    transition: all 500ms;
}
.backBox div p,
.backBox div button{
    margin-top: 30px
}
.backBox div h3{
    font-weight: 400;
    font-size: 26px;

}
.backBox button{
    padding: 10px 40px;
    border:2px solid #fff;
    background: transparent;
    font-size:14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}
/*hover es cuando situamos el cursosr sobre el boton*/
.backBox button:hover{
    background: #fff;
    color:black;


}
/*formularios*/
/*.contenedorLoginRegister{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    position:relative;
    top: -185px;
    left: 10px;
    padding: 80px 20px;
    background: rgb(1, 6, 46);
    
    border-radius: 20px;
    
    transition: left 500ms cubic-bezier(0.175,0.885,0.320,1.275);


}*/

.contenedorLoginRegister{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    background: rgb(1, 6, 46);
    border-radius: 20px;

    transition: left 500ms cubic-bezier(0.175,0.885,0.320,1.275);


}
.contenedorLoginRegister .formRegistro{
    width: 100%;
    padding: 80px 20px;
    background: rgb(1, 6, 46);
    position: absolute;
    border-radius: 20px;

}

.contenedorLoginRegister  h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: gold;
}
.contenedorLoginRegister  input{
    width: 90%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #ffffff;
    font-size: 16px;
    outline: none;
    border-radius: 20px;
}
.contenedorLoginRegister button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background:gold;
    color:rgb(10, 0, 48);
    cursor: pointer;
    outline: none;
}

.formLogin{
    opacity: 1;
    display: block;
    width: 100%;
    padding: 80px 20px;
    background: rgb(1, 6, 46);
    position: absolute;
    border-radius: 20px;
}

.formRegistro{
    display: none;
}

/*responsive design */
@media screen and (max-width:850px){

    main{
        margin-top:50px;
    }
    .backBox{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin:auto;
    }

    .backBox div{
        margin: 8px;
        position:absolute;

    }

    
/*Formularios*/

.contenedorLoginRegister{
    top: 200px;
    left: -5px;
    margin: auto;
}

.contenedorLoginRegister {
    position: relative;
}
.formRegistro{
    top: 200px;
}
}