<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>

<body>
  <h1>Tabla de Alquileres</h1>
  <p>A continuación se presentan los alquileres activos:</p>
  <table id="tabla" class="admintbl" name="Registros" style="width:90%" border="1">
    <tr>
      <th>Cliente</th>
      <th>Correo</th>
      <th>Modelo de grua</th>
      <th>Cantidad</th>
      <th>Ubicacion</th>
      <th>Fecha</th>
      <th>Tiempo requerido</th>
    </tr>
  </table><br>
  <script src="{{url_for('static', filename='script_admin.js')}}"></script>
</body>

</html>