<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static', filename='style_contacto.css')}}">
    <title>CONTACTO</title>

</head>

<body>
    <div class="tittle">
        <h1>Información de contacto</h1>
    </div>

    <br>
    <div class="name">
        <h1>COMSEDI, S.A. de C.V.</h1>
    </div>
    <div class="nameinfo">
        <h2> COMPAÑIA DE SERVICIOS DIVERSOS </h2>
    </div>
    <br>
    <div class="info">
        <div class="chart_tittle">
            <div>
                <h2>Dirección:</h2>
                <i aria-hidden="true"> </i>
            </div>

        </div>
        <br>
        <div class="chart_info">
            <div>
                <h3> 75 avenida norte, Calle Mano de León, pje. Los Castros, #456. San Antonio Abad, San Salvador.</h3>
                <i aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <br>
    <div class="chart_tittle">
        <h2>Teléfono:</h2>
        <i aria-hidden="true"></i>
    </div>
    <div class="chart_info">
        <h3> 2250-3445</h3>
        <i aria-hidden="true"></i>
    </div>
    <div class="chart_tittle">
        <h2>Correo Electrónico:</h2>
        <i aria-hidden="true"></i>
    </div>
    <div class="chart_info">
        <h3> comsedi@yahoo.es </h3>
        <i aria-hidden="true"></i>
    </div>
    <br>



</body>

</html>