<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static', filename='style_contacto.css')}}">
    <title>CONTACTO</title>

</head>

<body>
    <h1>Información de contacto</h1>
    <br>
    <div>
        <h1>COMSEDI, S.A. de C.V.</h1>
    </div>
    <br>
    <div>
        <h2>Dirección:</h2>
        <br>
        <h3> 75 avenida norte, Calle Mano de León, pje. Los Castros, #456. San Antonio Abad, San Salvador.</h3>
    </div>
    <br>
    <div>
        <h2>Teléfono: 2271-2813</h2>
    </div>
    <div>
        <h2>Correo Electrónico: comsedi@yahoo.es</h2>
    </div>
    <br>



</body>

</html>