<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizaciones</title>
    <style> 
        table, td, th {
            border: 1px solid black;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        } 

        
    </style>
</head>

<body>
    <h1>Cotizaciones</h1>

    <p> Comsedi S.A. de C.V. es un empresa altamente capacitada para la ejecución de proyectos en el área de construcción de obras civiles, mantenimiento de red eléctrica y poda de alto riesgo.</p>
    <p> Contamos con un equipo experimentado y la maquinaria necesaria para llevar a cabo todos los trabajos que requieras. </p>
    <br>
    <p> Para poder desarrollar tu proyecto, primero necesitas llenar un formulario de cotización, para así informarnos sobre lo que necesitas.  </p>
    <p> Para un mejor servicio, es necesario que dentro del formulario seas claro con los detalles que necesitas que Comsedi haga por tí. </p>
    <br>
    <p> Seguido de eso, nos contactaremos contigo, y con una visita técnica, nuestro equipo profesional lo evaluará más de cerca.</p>


    <a href="{{url_for('form_proyectos')}}"> Realizar formulario </a>

</body>
</html>
