<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='')}}">
    <title>Alquiler de Grúas</title>
</head>

<body>
    <div class="form">
        <h1>Formulario para Alguiler de Grúas</h1>
        <form>
            <!-- <label for="cliente">Cliente:</label> -->
            <!-- <input type="text" id="cliente" name="cliente" placeholder="Cliente..."><br><br> -->

            <!-- <label for="email">Ingresa tu Correo:</label> -->
            <!-- <input type="email" id="email" name="email" placeholder="Correo..."><br> -->

            <style>
                .correccion {
                    color: red;
                }
            </style>

            <label for="modelo">Modelo:</label>
            <br>
            <input type="number" id="modelo" min="1" max="2">
            <br>
            <label class="correccion" for="" id="r_modelo"></label>
            <br><br>
            <label for="cantidad">Cantidad de gruas:</label>
            <br>
            <input type="number" id="cantidad" name="cantidad" min="1" max="10">
            <br>
            <label class="correccion" id="r_cantidad"></label>
            <br><br>
            <label for="ubicacion">Ubicación:</label>
            <br>
            <input type="text" id="ubicacion" name="ubicacion" placeholder="Ubicación...">
            <br>
            <label class="correccion" id="r_ubicacion"></label>
            <br><br>
            <label for="fecha">Fecha:</label>
            <br>
            <input type="date" id="fecha" name="fecha">
            <br>
            <label class="correccion" id="r_fecha"></label>
            <br><br>
            <label for="tiempo">Tiempo requerido(en horas):</label>
            <br>
            <input type="number" id="tiempo" name="tiempo" min="1" max="240">
            <br>
            <label class="correccion" id="r_tiempo"></label>
            <br>
        </form>

        <button onclick="add()">Enviar</button><br><br>
    </div>
    <script src="{{url_for('static', filename='script_form_gruas.js')}}"></script>

</body>

</html>