<div class="form">
    <form>
        <!-- <label for="cliente">Cliente:</label> -->
        <!-- <input type="text" id="cliente" name="cliente" placeholder="Cliente..."><br><br> -->

        <!-- <label for="email">Ingresa tu Correo:</label> -->
        <!-- <input type="email" id="email" name="email" placeholder="Correo..."><br> -->

        <label for="modelo">Modelo:</label>
        <input type="number" id="modelo" min="1" max="2"><br>

        <label for="cantidad">Cantidad de gruas:</label>
        <input type="number" id="cantidad" name="cantidad" min="1" max="10"><br><br>

        <label for="ubicacion">Ubicación:</label>
        <input type="text" id="ubicacion" name="ubicacion" placeholder="Ubicación..."><br><br>

        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha"><br><br>

        <label for="tiempo">Tiempo requerido(en horas):</label>
        <input type="number" id="tiempo" name="tiempo" min="1" max="240">

    </form><br><br>

    <button onclick="add()">Enviar</button><br><br>
    <a href="{{url_for('admin_gruas')}}">Prueba en Aministrador</a>
    <br><br>
    <label for="" id="resultado_enviar"></label>

    <a href="{{url_for('perfil_cliente')}}">Ver estados de mis alquileres</a>
    <script src="{{url_for('static', filename='script_admin.js')}}"></script>

</div>