<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alquiler de Grúas</title>
</head>

<body>
    <div class="tittle">
        <h1>Alquiler de Grúas</h1>
    </div>

    <ul>
        <li>
            Marca: International Año: 1995 Costo: $70 por hora
            <div class="img1"><img src="/static/images/1995.png" width="500" height="300" alt="Modelo1"></div>
        </li>
        <li>
            Marca: International Año: 1986 Costo: $70 por hora
            <div class="img2"><img src="/static/images/1986.png" width="500" height="300" alt="Modelo2"></div>
        </li>
    </ul>

    <button onclick="ir_form()">Alquilar</button>
    <script src="{{url_for('static', filename='script_admin.js')}}"></script>
</body>

</html>