<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Cliente</title>
</head>

<body>

    <h2>Usuario:</h2>
    <h1 id="user_cliente"></h1>
    <br>
    <h2>Correo:</h2>
    <h1 id="email_cliente"></h1>
    <br>
    <a href="{{url_for('home')}}">página principal</a>
    <h1>Alquileres</h1>

    <table id="tabla" class="admintbl" name="Registros">
        <tr>
            <th>Cliente</th>
            <th>Correo</th>
            <th>Modelo de grua</th>
            <th>Cantidad</th>
            <th>Ubicacion</th>
            <th>Fecha</th>
            <th>Tiempo requerido</th>
            <th>Estado</th>
        </tr>
    </table>
    <script src="{{url_for('static', filename='script_perfil_cliente.js')}}"></script>
</body>

</html>