<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Admin</title>
</head>

<body>
    <h2>Usuario:</h2>
    <h1 id="user_admin"></h1>
    <br>
    <h2>Email:</h2>
    <h1 id="email_admin"></h1>
    <br>
    <br>
    <a href="{{url_for('admin_gruas')}}">Ver Alquileres</a>
    <br><br>
    <a href="{{url_for('admin_proyectos')}}">Ver Cotizaciones</a>
    <script src="{{url_for('static', filename='script_perfil_admin.js')}}"></script>
</body>

</html>