<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static', filename='style_mision_vision.css')}}">
    <title>MISIÓN Y VISIÓN</title>
</head>

<body id="body">

    <div class="container">
        <nav class="navbar">
            <div class="nav_icon" onclick="toggleSidebar()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="navbar__left">
                <a href="{{url_for('principal')}}" class="active_link" name="navbar_q" id="navbar_q">¿Quiénes Somos?</a>
                <a href="{{url_for('gruas')}}" name=" navbar_a" id="navbar_a">Alquiler de Grúas</a>
                <a href="{{url_for('cotizaciones')}}" id="navbar_a">Cotización de
                    Proyectos</a>
            </div>

            <div class="navbar__rigth">
                <a href="#">
                    <i class="fa fa-search fa-2x text-blue" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-clock-o fa-2x text-blue" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <img width="30" src="/static/images/avatar.png" alt="" />
                </a>
            </div>
        </nav>

        <main>
            <div class="maintittle">
                <h1>Algunos proyectos de nuestra empresa</h1>
            </div>
            <br>
            <div class="projects"><img src="" alt="">
                <h1>Iluminación de Surf City</h1>
                <div class="projectinfo">
                    <h2>La Libertad, 2021</h2>
                </div>
            </div>
            <div class="projects"><img src="/static/images/puentetorola.jpg" alt="">
                <h1>Iluminación del puente María Chichilco </h1>
                <br>
                <div class="projectinfo">
                    <h2>Torola, Morazán-2020</h2>
                </div>
            </div>
    </div>
    </main>
</body>