<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static', filename='style_proyectos.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTOS</title>

</head>

<body>
    <div class="maintittle">
        <h1>Algunos proyectos de nuestra empresa</h1>
    </div>
    <br>
    <div class="projects"><img src="/static/images/iluminacion.jpg" alt="">
        <h1>Iluminación de Surf City con tecnología LED</h1>
        <div class="projectinfo">
            <h2>La Libertad, 2021</h2>
        </div>
    </div>
    <div class="projects"><img src="/static/images/puentetorola.jpg" alt="">
        <h1>Iluminación del puente María Chichilco </h1>
        <div class="projectinfo">
            <h2>Torola, Morazán-2020</h2>
        </div>
    </div>
    <div class="projects"><img src="/static/images/remodelación.jfif" alt="">
        <h1>Remodelación del Instituto Salvadoreño para el Desarrollo Integral de la Niñez y Adolescencia (ISNA) </h1>
        <div class="projectinfo">
            <h2>San Salvador-2020</h2>
        </div>
    </div>
    <div class="projects"><img src="/static/images/mantenimiento.jpg" alt="">
        <h1> Mantenimiento de red eléctrica </h1>
        <div class="projectinfo">
            <h2>San Salvador, 2019</h2>
        </div>
    </div>


</body>

</html>